{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p>
                <a href = "{% url 'create_project'%}"> Create a new project</a>
            </p>
            <table>
                {% for project in project_list %}
                    <thead>
                        <th> Name </th>
                        <th> Number of tasks </th>
                        <tbody>

                            <tr>

                                <td>
                                    <a href="{% url 'show_project' project.id %}">{{ project.name }}
                                </td>

                                <td>
                                    {{project.tasks.all|length}}
                                </td>

                            </tr>

                        </tbody>
                    </thead>
                {% empty %}
                    <p>You are not assigned to any projects</p>
                {% endfor %}
            </table>

        </div>
    </main>
{% endblock content %}